ul{
    list-style:square url("http://www.un.org/womenwatch/daw/images/green2.gif");
}

table, td, th 
{ border: 1px solid gray }

a:hover{

color:red;

}


.school{

color: red;

font-weight:bold;




}

a.school {
  position: relative;
  display: inline;
}
a.school span {
  position: absolute;
  width:300px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.school span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.school span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 0%;
  margin-left: -76px;
  z-index: 999;
}


.head1{
font-family:sans-serif;
     text-align:center;

}

.photo{


    float:left;
    border:1px dotted black;
    margin: 0px 50px 0px 0px;

}

.intro{
   background-color: pink;
   font-family:sans-serif;
}

.hobby{

   background-color: yellow;
   font-family:sans-serif;


}

.study{

   background-color:aqua;
   font-family:sans-serif;
}






